/* CSS لتحسين التصميم و الألوان مع الخلفية الشفافة */

body {
    font-family: Arial, sans-serif;
    background: url('https://i.imgur.com/KOMC4sI.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* الشفافية محسّنة هنا */
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* تحسين الظلال لتوضيح النص */
}

.auth-section, .wallet-section {
    text-align: center;
}

button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8d72;
}

p {
    margin: 10px 0;
}
